<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PRESTACONNECT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PRESTACONNECT.Properties.Settings.SAGEConnectionString"
      connectionString="Data Source=DEVA-MSI\SQLSERVER2K14;Initial Catalog=BIJOU;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PRESTACONNECT.Properties.Settings.PRESTACONNECTConnectionString"
      connectionString="Data Source=DEVA-MSI\SQLSERVER2K14;Initial Catalog=PRESTACONNECT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <PRESTACONNECT.Properties.Settings>
      <setting name="SAGEUSER" serializeAs="String">
        <value>&lt;Administrateur&gt;</value>
      </setting>
      <setting name="LICENCEKEY" serializeAs="String">
        <value>T3NZDAYEZ8J2YN3EMUZBPXD</value>
      </setting>
      <setting name="SAGEPASSWORD" serializeAs="String">
        <value />
      </setting>
      <setting name="SAGEDSN" serializeAs="String">
        <value>ODBC_BIJOU</value>
      </setting>
      <setting name="CLIENT" serializeAs="String">
        <value>DEVAC</value>
      </setting>
      <setting name="PRESTASHOPConnectionString" serializeAs="String">
        <value>Server=localhost;Database=prestashop;Uid=root;Pwd=;ConvertZeroDateTime=True;Port=3306</value>
      </setting>
    </PRESTACONNECT.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSKeySoap">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSVersionSoap">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSKeySoap1">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://46.105.150.20/wskey.asmx" binding="basicHttpBinding"
        bindingConfiguration="WSKeySoap" contract="WSKEY.WSKeySoap"
        name="WSKeySoap" />
      <endpoint address="https://46.105.150.23/WSKEY.asmx" binding="basicHttpBinding"
        bindingConfiguration="WSKeySoap1" contract="WSKEYRESCUE.WSKeySoap"
        name="WSKeySoap1" />
      <endpoint address="https://46.105.150.20/wsversion.asmx" binding="basicHttpBinding"
        bindingConfiguration="WSVersionSoap" contract="WSVERSION.WSVersionSoap"
        name="WSVersionSoap" />
    </client>
  </system.serviceModel>
</configuration>
